openapi: 3.1.0
info:
  title: Airship REST Channels Schedules API
  version: ua
  description: 'Best-effort OpenAPI 3.1 representation of the Airship (formerly Urban Airship)

    REST API derived from https://www.airship.com/docs/developer/rest-api/ua/.

    Airship is a mobile customer engagement platform offering push, in-app, web,

    SMS, MMS, email messaging, named users, channels, segments, schedules, lists,

    pipelines, and reports. Authentication supports Basic Auth (App or Master),

    Bearer Token, and OAuth 2.0 with scoped tokens.

    '
  contact:
    name: Airship
    url: https://www.airship.com/docs/developer/rest-api/ua/
servers:
- url: https://go.airship.com
  description: Airship US data center
- url: https://go.airship.eu
  description: Airship EU data center
security:
- BasicMasterAuth: []
- BearerAuth: []
- OAuth2:
  - psh
tags:
- name: Schedules
paths:
  /api/schedules:
    get:
      tags:
      - Schedules
      summary: List scheduled messages
      operationId: listSchedules
      responses:
        '200':
          description: OK
    post:
      tags:
      - Schedules
      summary: Create a scheduled message
      operationId: createSchedule
      responses:
        '201':
          description: Created
  /api/schedules/{schedule_id}:
    get:
      tags:
      - Schedules
      summary: Get scheduled message
      operationId: getSchedule
      parameters:
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    put:
      tags:
      - Schedules
      summary: Update scheduled message
      operationId: updateSchedule
      parameters:
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Schedules
      summary: Delete scheduled message
      operationId: deleteSchedule
      parameters:
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    BasicAppAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using app_key and app_secret (App level).
    BasicMasterAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using app_key and master_secret (Master level - required for most write operations).
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token.
    OAuth2:
      type: oauth2
      description: 'OAuth 2.0 scoped tokens. Scopes include att (attachments), chn (channels),

        cnt (contacts), evt (events), lst (lists), nu (named users), pln (pipelines),

        psh (push), rpt (reports), sch (schedules), tpl (content templates).

        '
      flows:
        clientCredentials:
          tokenUrl: https://oauth2.asnapieu.com/token
          scopes:
            att: Attachments
            chn: Channels
            cnt: Contacts
            evt: Events
            lst: Lists
            nu: Named Users
            pln: Pipelines
            psh: Push
            rpt: Reports
            sch: Schedules
            tpl: Content Templates
